div#container{ position: relative; }
canvas{
    margin:10px auto;
    display: block;
    width: 100%;
    border-bottom:2px solid grey;
    background-color:#111;
}
.giphy-embed { width: 100%;} 
h1 { text-align: center; }
p{text-align: justify;}
